<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    {% url 'some-url-name' as the_url %} <a href="{{ the_url }}">google.com</a>
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
     <a href="{{ choice.url }}">(Clickable link)</a>
{% endfor %}
<input type="submit" value="Vote" />
</form>

<!--{% url 'some-url-name' as the_url %} <a href="{{ the_url }}">{{ the_url }}</a>-->

<!--Index html doet het zo-->
<!--
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->
